-# https://fontawesome.com/icons?d=gallery


%menu.left-side
  = render 'shared/left_side', locals: { groups: @groups }



.right-side
  %header.header
    %h2.header_group-name
      sample
    %p.header_member
      Members: seo, reko

  %content.comment-wrap
    %article.comment
      %p.comment_creata
        seo
        %time.time 2019/02/23 22:00
      %p.coment_text
        sample coment text

  %footer.footer
    %form.comment-form{:action => "", :method => "parch"}
      %input.comment-form_text{:name => "comment", :type => "text"}/
      %i.far.fa-image.icon
      %input.comment-form_btn{:name => "post", :type => "submit", :value => "Send"}/
